In [1]:
import pandas as pd
from IPython.display import display, HTML
pd.set_option('display.max_rows', 500)

In [10]:
orphans = pd.read_csv("orphan_data/table.csv", usecols=["identifier","tool","msa_mode", "template_id","rmsd","tm_score","lddt","plddt","max_pae", "ptm"])[["identifier","tool","msa_mode", "template_id","rmsd","tm_score","lddt","plddt","max_pae", "ptm"]]
sorted = orphans.sort_values(["identifier", "tool", "msa_mode", "template_id"])

In [11]:
for identity in sorted.identifier.unique():
    display(HTML(sorted[sorted.identifier==identity].to_html()))

In [12]:
len(orphans.identifier.unique())

15

In [13]:
casp = pd.read_csv("casp_monomer_data/table.csv", usecols=["identifier","tool","msa_mode", "template_id","rmsd","tm_score","lddt","plddt","max_pae", "ptm"])[["identifier","tool","msa_mode", "template_id","rmsd","tm_score","lddt","plddt","max_pae", "ptm"]]
sorted = casp.sort_values(["identifier", "tool", "msa_mode", "template_id"])

In [14]:
for identity in sorted.identifier.unique():
    display(HTML(sorted[sorted.identifier==identity].to_html()))